<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>방명록 프로그램</title>
</head>
<body>
<ul>
  <li th:each="guestbook : ${list}">
    <th:block th:text="|아이디: ${guestbook.id }|"></th:block><br>
    <th:block th:text="|작성자: ${guestbook.name }|"></th:block><br>
    <th:block th:text="|내용: ${guestbook.context }|"></th:block><br>
    <th:block th:text="|작성일: ${guestbook.time }|"></th:block><br>
    <th:block th:text="|작성일: ${guestbook.likes }|"></th:block><br>
    <th:block th:text="|작성일: ${guestbook.dislikes }|"></th:block><br>
    </th:block>
  </li>
</ul>
<div>
  <form method="post" action="write">
    이름 : <input type="text" name="name" placeholder="이름 입력" required><br>
    <textarea name="content" cols="60" rows="6" placeholder="내용 입력" required></textarea>
    <br> <input type="submit" value="등록">
  </form><br>
</div>

</body>
</html>