<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>게시판</title>
</head>
<body>

<a href="" th:href="@{/article/post}">게시글 작성</a>
<form action="main.html" th:action th:method="post">
  <select>
    <option value="title">제목</option>
    <option value="content">내용</option>
    <option value="username">작성자</option>
  </select>
  <input name="keyword">
  <input type="submit" value="검색">
</form>
<a href="" th:href="@{/popular}">인기 게시물</a>

<!-- 게시글 목록 시작 -->
<table>
  <thead>
  <tr>
    <th>게시글 번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성 시간</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="article : ${articles}">
    <td th:text="${article.id}">@mdo</td>
    <td><a href="" th:href="@{|/article/${article.id}|}" th:text="${article.title}">Mark</a></td>
    <td><a href="" th:href="@{|/${article.username}/information|}" th:text="${article.username}">Otto</a></td>
    <td th:text="${article.createTime}">@mdo</td>
  </tr>
  </tbody>
</table>
<!-- 게시글 목록 끝 -->

</body>
</html>