<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>게시판</title>
</head>
<body>

<a href="" th:href="@{/article/post}">게시글 작성</a>

<!-- 게시글 목록 시작 -->
<table>
  <thead>
  <tr>
    <th>게시글 번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성 시간</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="article : ${articles}">
    <th th:text="${article.id}">1</th>
    <td><a href="" th:href="@{|/article/${article.id}|}" th:text="${article.title}">Mark</td>
    <td><a href="" th:href="@{|/${article.username}/information|}" th:text="${article.username}">Otto</td>
    <td th:text="${article.createTime}">@mdo</td>
  </tr>
  </tbody>
</table>
<!-- 게시글 목록 끝 -->

</body>
</html>