<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>게시판</title>
</head>
<body>

<a href="" th:href="@{/}">메인으로</a>

<article>
  <h2>제목 : <span th:text="${article.title}"></span></h2>
  <p>
    <div>작성 일자 : <span th:text="${article.createTime}"></span></div>
    <div>작성자 : <span th:text="${article.username}"></span></div>
  </p>
  <p th:text="${article.content}">본문 내용</p>
</article>

<a href="" th:href="@{|/article/update/${article.id}|}">수정</a>
<a href="" th:href="@{|/article/delete/${article.id}|}">삭제</a>

<div>
  <div>댓글</div>
  <div>
    <textarea>댓글을 작성해주세요</textarea>
    <button>등록</button>
  </div>
</div>

<!-- 댓글 시작 -->
<table>
  <thead>
  <tr>
    <th>작성자</th>
    <th>댓글 내용</th>
    <th>작성 시간</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="comment : ${comments}">
    <td><a href="" th:href="@{|/${comment.username}/information|}" th:text="${comment.username}">Otto</a></td>
    <td th:text="${comment.content}">내용</td>
    <td th:text="${comment.createTime}">@mdo</td>
  </tr>
  </tbody>
</table>
<!-- 댓글 끝 -->

</body>
</html>