<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>명함 프로그램</title>
</head>
<body>
<div class="container">
  <form action="/members/new" method="post">
    <div class="form-group">
      <label for="name">이름</label>
      <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
    </div>
    <div class="form-group">
      <label for="number">번호</label>
      <input type="text" id="number" name="number" placeholder="번호를 입력하세요">
    </div>
    <div class="form-group">
      <label for="company">회사</label>
      <input type="text" id="company" name="company" placeholder="회사를 입력하세요">
    </div>
    <button type="submit">등록</button>
  </form>
</div> <!-- /container -->
</body>
</html>